# CSS-style

div.fixed {
  position: fixed;
  top: 40;
  right: 20;
}
img {
  height: 500px;
  max-width: 50%;
}

h2 {
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}


