<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<style>

div.firsthouse {
 position: fixed;
 top: 0;
 left: 0;
 width: 400px;
 height: 320px;
 margin: 5px;
 margin-bottom: 200px;
}

div.secondhouse {
 position: fixed;
 top: 0;
 right: 0;
 width: 400px;
 height: 320px;
 margin: 5px;
 margin-bottom: 200px;
}

div.thirdhouse {
 position: fixed;
 bottom: 0;
 left: 0;
 width: 400px;
 height: 300px;
 margin: 5px;
 margin-bottom: 200px;
}

div.fourthouse {
 position: fixed;
 bottom: 0;
 right: 0;
 width: 400px;
 height: 320px;
 margin: 5px;
 margin-bottom: 200px;
}
 
img.firstimage {
 background-color:lightblue;
 padding:20px;
 height: auto;
 width: 90%; 
}

img.secondimage {
 background-color:pink;
 padding:20px;
 height: auto;
 width: 90%;
}

img.thirdimage {
  background-color:yellow;
  padding:20px; 
  height: 95%;
  width: 90%;
}


img.fourthimage {
  background-color:orange;
  padding:20px;
  height: auto;
  width: 90%;
}
  

h2.firstheading {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  text-shadow: 3px 2px green;
  border-style: double;
  text-align: center;
  border: 3px solid
}

h2.secondheading {
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  border-style: double;
  text-align: center;
  border: 3px solid;
}

h2.thirdheading {
  color: green;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  text-shadow: 3px 2px green;
  border-style: double;
  text-align: center;
  border: 3px solid
}

h2.fourtheading {
  color: yellow;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  text-shadow: 3px 2px green;
  border-style: double;
  text-align: center;
  border: 3px solid
}

</style>
</head>
<body>
                      

